$secondary: #f08080;

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');
@import '../node_modules/bootstrap/scss/bootstrap.scss';

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  padding: 0;
  height: 100vh;
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  color: #202020;
  background-color: #fbfbfb;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0;
  height: 100vh;
}
